PLLJ_PLLSPE_INFO.txt
db/
fampiga_top.asm.rpt
fampiga_top.done
fampiga_top.eda.rpt
fampiga_top.fit.rpt
fampiga_top.fit.summary
fampiga_top.flow.rpt
fampiga_top.jdi
fampiga_top.map.rpt
fampiga_top.map.smsg
fampiga_top.map.summary
fampiga_top.pin
fampiga_top.rbf
fampiga_top.sof
fampiga_top.sta.rpt
fampiga_top.sta.summary
incremental_db/
simulation/

